<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.tp.car.mapper.TpCarMapper">
    
	<sql id="tpCarColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.del_flag AS "delFlag",
		a.deviceid AS "deviceId",
		a.office_id AS "office.id",
		a.user_id AS "user.id",
		a.name AS "name",
		a.brand AS "brand",
		a.purpose AS "purpose",
		a.person_count AS "personCount",
		a.carrying_capacity AS "carryingCapacity",
		a.location AS "location",
		a.location_name AS "locationName",
		a.start_km AS "startKm",
		a.sum_km AS "sumKm",
		a.current_km AS "currentKm",
		a.sum_time AS "sumTime",
		a.consumption AS "consumption",
		a.insurance_company AS "insuranceCompany",
		a.insurance_date AS "insuranceDate",
		a.maintain_km AS "maintainKm",
		a.maintain_date AS "maintainDate",
		a.remarks AS "remarks",
		a.update_date AS "updateDate",
				
				
				
				
				
				
		office.name AS "office.name",
				
		user.name AS "user.name"
	</sql>
	
	<sql id="tpCarJoins">
		
		LEFT JOIN sys_office office ON office.id = a.office_id
		LEFT JOIN sys_user user ON user.id = a.user_id
	</sql>
	
    
	<select id="get" resultType="TpCar" >
		SELECT 
			<include refid="tpCarColumns"/>
		FROM tp_car a
		<include refid="tpCarJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="TpCar" >
		SELECT 
			<include refid="tpCarColumns"/>
		FROM tp_car a
		<include refid="tpCarJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="office != null and office.id != null and office.id != ''">
				AND a.office_id LIKE 
					<if test="dbName == 'oracle'">'%'||#{office.id}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{office.id}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{office.id},'%')</if>
			</if>
			<if test="user != null and user.id != null and user.id != ''">
				AND a.user_id = #{user.id}
			</if>
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="brand != null and brand != ''">
				AND a.brand LIKE 
					<if test="dbName == 'oracle'">'%'||#{brand}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{brand}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{brand},'%')</if>
			</if>
			<if test="purpose != null and purpose != ''">
				AND a.purpose LIKE 
					<if test="dbName == 'oracle'">'%'||#{purpose}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{purpose}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{purpose},'%')</if>
			</if>
			<if test="locationName != null and locationName != ''">
				AND a.location_name LIKE 
					<if test="dbName == 'oracle'">'%'||#{locationName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{locationName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{locationName},'%')</if>
			</if>
			<if test="beginStartKm != null and endStartKm != null ">
				AND a.start_km BETWEEN #{beginStartKm} AND #{endStartKm}
			</if>
			<if test="beginSumKm != null and endSumKm != null ">
				AND a.sum_km BETWEEN #{beginSumKm} AND #{endSumKm}
			</if>
			<if test="beginCurrentKm != null and endCurrentKm != null ">
				AND a.current_km BETWEEN #{beginCurrentKm} AND #{endCurrentKm}
			</if>
			<if test="beginSumTime != null and endSumTime != null ">
				AND a.sum_time BETWEEN #{beginSumTime} AND #{endSumTime}
			</if>
			<if test="insuranceCompany != null and insuranceCompany != ''">
				AND a.insurance_company LIKE 
					<if test="dbName == 'oracle'">'%'||#{insuranceCompany}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{insuranceCompany}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{insuranceCompany},'%')</if>
			</if>
			<if test="beginInsuranceDate != null and endInsuranceDate != null ">
				AND a.insurance_date BETWEEN #{beginInsuranceDate} AND #{endInsuranceDate}
			</if>
			<if test="beginMaintainKm != null and endMaintainKm != null ">
				AND a.maintain_km BETWEEN #{beginMaintainKm} AND #{endMaintainKm}
			</if>
			<if test="beginMaintainDate != null and endMaintainDate != null ">
				AND a.maintain_date BETWEEN #{beginMaintainDate} AND #{endMaintainDate}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="TpCar" >
		SELECT 
			<include refid="tpCarColumns"/>
		FROM tp_car a
		<include refid="tpCarJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO tp_car(
			id,
			create_by,
			create_date,
			update_by,
			del_flag,
			deviceid,
			office_id,
			user_id,
			name,
			brand,
			purpose,
			person_count,
			carrying_capacity,
			location,
			location_name,
			start_km,
			sum_km,
			current_km,
			sum_time,
			consumption,
			insurance_company,
			insurance_date,
			maintain_km,
			maintain_date,
			remarks,
			update_date
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{delFlag},
			#{deviceId},
			#{office.id},
			#{user.id},
			#{name},
			#{brand},
			#{purpose},
			#{personCount},
			#{carryingCapacity},
			#{location},
			#{locationName},
			#{startKm},
			#{sumKm},
			#{currentKm},
			#{sumTime},
			#{consumption},
			#{insuranceCompany},
			#{insuranceDate},
			#{maintainKm},
			#{maintainDate},
			#{remarks},
			#{updateDate}
		)
	</insert>
	
	<update id="update">
		UPDATE tp_car SET 	
			update_by = #{updateBy.id},
			deviceid = #{deviceId},
			office_id = #{office.id},
			user_id = #{user.id},
			name = #{name},
			brand = #{brand},
			purpose = #{purpose},
			person_count = #{personCount},
			carrying_capacity = #{carryingCapacity},
			location = #{location},
			location_name = #{locationName},
			start_km = #{startKm},
			sum_km = #{sumKm},
			current_km = #{currentKm},
			sum_time = #{sumTime},
			consumption = #{consumption},
			insurance_company = #{insuranceCompany},
			insurance_date = #{insuranceDate},
			maintain_km = #{maintainKm},
			maintain_date = #{maintainDate},
			remarks = #{remarks},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM tp_car
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE tp_car SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="TpCar" statementType="STATEMENT">
		select * FROM tp_car  where ${propertyName} = '${value}'
	</select>

	<select id="findAllLocation" resultType="java.util.Map">
		select
        a.deviceid AS "deviceId",
		a.name AS "name",
        a.location AS "location",
        a.update_date AS "updateDate",
		office.name AS "officeName"
		 from tp_car AS a
		 LEFT JOIN sys_office office ON office.id = a.office_id
	</select>
	<select id="findByDeviceId" resultType="com.jeeplus.modules.tp.car.entity.TpCar">
		SELECT
		<include refid="tpCarColumns"/>
		FROM tp_car a
		<include refid="tpCarJoins"/>
		WHERE a.deviceid = #{deviceId}
	</select>

</mapper>